@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
/*responsive*/

@media screen and (min-width: 361px){

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
  }
  .item{
    padding: 1rem;
    }
    nav a{
        color: var(--blanco);
        text-decoration: none;
    }
    .logo img{
        height: 3rem;
    }
  .img1{
    height: 100%;
    width: 100% ;
    position: relative;
  }  
  
  .text1 {
    height: 130px;
    width: 96%;
    background-color:rgb(0, 0, 0,0.5);
    background: linear-gradient(to right, rgb(0, 0, 0,0.7), rgba(21, 21, 21, 0));
    margin-top: -150px;
    position: absolute;
    padding-left:50px;
    padding-top: 15px;
    color: white;
  }
  .text2{
    height: 250px;
    width: 50%;
    padding-top:80px;
    padding-left:90px ;
    padding-right: 50px;
     font-size: 17px;
  }
  
  .img2{
    height: 10%;
    width: 20%;
    float: right;
    margin-top: -320px;
    margin-right: 150px;
  }
  
  #features{
    background: url(../img/bg-features.png);
    color: white;
    padding-top: 1rem;
  }
  
  .features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
  }
  .features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
  }
  .feature-blue{
    background-color: #00325eae;
  }
  
  .feature-black{
    background-color: rgba(0,0,0,0.59);
  }
  .direc{
    height: 100%;
    width: 98.5%;
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 30px;
    text-align: center;
  }
  .ti{
    font-size: 50px;
  }
  .Nue{
    height: 130px;
    width: 100%;
    background-color: rgba(31,28,28,255);
    color: white;
    text-align: center;
    padding-top: 20px;
    position: relative;
  
  }
  
  .person{
    height: 260px;
    width: 100%;
    position: absolute;
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    margin-left: -4px;
    justify-content: center;
  
  }
  .perso{
    height: 200px;
    width: 290px;
    background: linear-gradient(to right, rgba(51,122,183,255), rgba(58,68,138,255));
    margin: 0 40px 0 40px;
    padding: 0 15px 0 15px
  }
  .lo{
    font-size: 14px;
    margin-top: -10px;
    color: white;
  }
  .imgNu{
    height:80px ;
    width: 80px;
    border-radius: 60px;
    margin-top: 15px;
  }
  .divNu{
    height:80px ;
    width: 80px;
  }
  .superior{
    height:120px ;
    width: 120px;
  }
  .nombreNu{
    height:90px ;
    width: 130px;
    margin-left: 90px;
    margin-top: -80px;
    padding: 30px 20px 0  20px;
  }
  
  #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  
  .estrellita{
    height:30px;
    width:70px ;
  }
  
  footer{
    height: 230px;
    margin-top: 250px;
    background-color: rgba(22,23,25,255);
  }
  .lom2{
    height: 50px;
    width: 320px;
    margin: 50px 0 80px 100px;
    padding: 50px;
    color: white;
    font-size: 18px;
  }
  .redes{
    height: 30px;
    width: 200px;
    margin: -70px 0 0 170px;
  }
  .facebook{
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
  .contac{
    height: 120px;
    width: 400px;
    margin: -140px 0 0 400px;
  }
  .direcc{
    height: 50px;
    width: 320px;
    margin: -36px 0 0 50px;
    color: white;
  }
  
  .direcc2{
    height: 50px;
    width: 320px;
    margin: -28px 0 0 50px;
    color: white;
  }
  
  .publicidades{
    height: 50px;
    width: 320px;
    margin:-120px 0 0 850px;
    text-align: center;
    color: white;
  }
  .poli1{
    height: 50px;
    width: 320px;
  }
  
  .bodylogin{
    height: 614px;
    width: 1366px;
  }
  .fondologin{
    height: 613px;
    width: 1366px;
    position: relative;
  
  }
  .login{
     height: 383px;
    width: 366px;
    background-color: rgba(85,136,181,0.8);
    position: absolute;
    margin: -490px 0 0 36.5%;
    border-radius: 5px;
  
  }
  .blanco{
      height: 133px;
    width: 366px;
    background-image: url(../img/loginblanco.png);
    background-size: cover;
    border-radius: 5px;
  
  }
  
  .usulogin{
    height: 70px;
    width: 70px;
    background-image: url(../img/usuariomorado.png);
    background-size: cover;
    margin: -40px 0 0 145px ;
  
  }
  
  .loginmedio{
    color: white;
    padding: 0 60px 0 60px;
  }
  
  div .loginmedio input{
    width: 230px;
    height: 20px;
  }
  
  .loginabajo{
    height: 75px;
    width: 306px;
    padding: 30px 0 0 60px;
  }
  .loginabajo button{
    color: white;
    background-color: #000;
    width: 240px;
    height: 30px;
    border-radius: 4px;
  }
  
  .loginabajo p {
    color: white;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 8px;
  }
  
  .loginabajo a {
    color: #000;
    text-decoration: none;
  }
  
  .tituloRegis{
    width: 366px;
    height: 620px;
    background: linear-gradient(to right, rgba(62,125,179,0.9), rgba(19,64,101,0.9));
    position: absolute;
    margin: -620px 0 0 0;
    border-radius: 5px;
  }
  
  .logoRegis{
    width: 306px;
    height: 220px;
    margin:190px 0 0 0;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 60px;
    position: relative;
  }
  
  .logoRegis img {
    width: 96px;
    height: 80px;
  }
  
  .logoRegis h1 {
    color: white;
    margin: 10px 0 0 5px;
    font-size: 50px;
    font-weight: 100;
  }
  
  .bienRegis{
    position:absolute;
    margin: -110px 0 0 90px;
    text-align: center;
    color: white;
    font-weight: 100;
  
  }
  
  .FormuRegis{
    width: 900px;
    height: 580px;
    background-color: rgba(255, 255, 255, 0.87);
    position:absolute;
    margin: -600px 0 0 420px;
  }
  
  .FormuRegis h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
    font-weight: 100;
  
  }
  
  
  .fila1Regis{
    width: 350px;
    height: 400px;
    margin: 0px 0 0 0 ;
    padding: 0 0 0 100px;
  }
  
  .fila1Regis .espacio {
    height: 23px;
    width: 300px;
    margin: 3px 0 10px 0;
  }
  
  .fila1Regis .espacio1 {
    height: 25px;
    width: 305px;
    margin: 3px 0 10px 0;
  }
  
  .fila1Regis .espacio2 {
    height: 27px;
    width: 308px;
    margin: 3px 0 10px 0;
  }
  
  .fila2Regis{
    width: 305px;
    height: 400px;
    margin: -400px 0 0 450px ;
    padding: 0 100px 0 45px;
  
  }
  
  .fila2Regis .espacio {
    height: 23px;
    width: 300px;
    margin: 3px 0 10px 0;
  }
  
  .fila2Regis .espacio1 {
    height: 25px;
    width: 305px;
    margin: 3px 0 10px 0;
  }
  
  .fila2Regis .espacio2 {
    height: 27px;
    width: 308px;
    margin: 3px 0 10px 0;
  }
  .fila2Regis .genero {
    margin: 3px 0 0px 0;
  }
  
  .abajoRegis{
    text-align: center;
  }
  .abajoRegis button{
    background-color: rgba(34,34,34,255);
    color: white;
    height: 30px;
    width: 150px;
    border: 0px;
    font-size: 18px;
    font-weight: 100;
  
  }
  
  .dashboar .body {
    height: 613px;
    width: 1116px;
    margin: 0 0 0 250px;
  }
  
  .dashboar .div0{
    padding: -10px 0-10px 0;
    height: 614px;
    width: 1366px;
    background-color: #0B3860;
  
  }
  
  .dashboar .logo0 {
    height: 200px;
    width: 250px;
    background: linear-gradient(to right, rgba(47,116,175,0.9), rgba(12,59,98,0.9));
    position: absolute;
  }
  
  .dashboar .menu {
    background-color: rgb(48,51,66);
    width: 250px;
    height: 414px;
    margin-top: 200px;
    position: absolute;
  }
  .dashboar .salir {
    background-color: rgb(59,62,79);
    position: absolute;
    margin: 147px 0 0 10px;
    width: 230px;
    height: 40px;
    padding-left: 10px;
  
  }
  
  .dashboar .saliir{
    margin-top: 5px;
  }
  
  .dashboar .salir p {
    color: white;
    margin: -27px 0 0 40px;
    position: absolute;
  }
  
  .dashboar .habi p {
    text-decoration: none;
    color: white;
    margin: -37px 0 30px 50px;
    position: absolute;
  
  }
  
  .dashboar .rese p {
    text-decoration: none;
    color: white;
    margin: -37px 0 30px 50px;
    position: absolute;
  
  }
  .dashboar .ha {
    margin: 10px 0 10px 10px;
  }
  
  .dashboar .re{
    margin: 10px 0 10px 10px ;
  }
  
  
  .dashboar #habii:hover {
    background-color: #337AB7;
  
  }
  
  .dashboar .logo00{
    height: 50px;
    width: 120px;
    position: absolute;
    background-size: cover;
    margin: 20px 0 0 50px;
  }
  
  .dashboar .logo00 img {
    height: 70px;
    width: 70px;
  }
  
  .dashboar .logo00 h1 {
    color: white;
    margin: -60px 0 0 70px;
    font-size: 35px;
    font-weight: 100;
  
  }
  
  .dashboar .nom0{
    height: 30px;
    width: 100px;
    position: absolute;
    text-align: center;
    margin: 140px 0 0 100px;
    color: white;
    font-weight: 100;
  }
  
  .dashboar .nom0 .correo0 {
    font-size: 12px;
  }
  
  .dashboar .blan {
    height: 560px;
    width: 1020px;
    background-color: rgba(255, 255, 255, 0.866);
    position: absolute;
    margin: -590px 0 0 300px;
    text-align: center;
  }
  
  .dashboar .visual{
    height: 460px;
    width: 150px;
    padding: 60px 0 0 50px;
  }
  
  .dashboar .visual div .foto {
    height: 120px;
    width: 120px;
    border-radius: 3px;
    margin-left: -29px;
  }
  
  div .icon{
    height:30px ;
    width: 120px;
    background-color:rgb(51,122,183);
    text-align: center;
    margin-top: 3px;
    border-radius: 3px;
  
  }
  
  div .cambio{
    height:50px ;
    width: 112px;
    background-color: #333333;
    margin: 20px 0 0 5px;
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
    border: 0px solid;
  }
  
  .dashboar .datos {
    height: 400px;
    width: 350px;
    position: absolute;
    margin: -520px 0 0 200px;
    padding: 15px 0 0 60px;
    text-align: left;
  }
  
  .dashboar .espacio{
    height: 20px;
    width: 300px;
    margin: 5px 0 20px 0;
  }
  
  .dashboar button{
    height: 30px;
    width: 150px;
    background-color: #2b2b2b;
    border: 0px;
    border-radius: 2px;
    color: white;
    font-weight: 100;
    font-size: 20px;
  }
  
  .dashboar .datos2 {
    height: 400px;
    width: 350px;
    position: absolute;
    margin: -520px 0 0 600px;
    padding: 15px 0 0 60px;
    text-align: left;
  }
  
  .dashboar .espacio1{
    height: 20px;
    width: 300px;
    margin: 5px 0 105px 0;
  }
  
  /* h */
  .modal-contenido{
      background-color: rgb(255, 255, 255);
      width: 900px;
      padding: 10px 20px;
      margin: 20% auto;
      position: relative;
      border-radius: 3px;
  }
  
  .terminosacept{
      width: 100px;
      height: 40px;
      margin: 10px 150px;
      border-radius: 3px;
      border: none;
      font-family: 'Marcellus', serif;
      background: #000;
      font-weight: lighter;
      color:  #fff;
      font-size: 18px;
      padding: 6px 16px;
      display: block;
      width: 105px;
      margin: 0px auto;
       
  }
  
  .termiyserv{
      text-decoration: none;
      color: #000000;
  }
  
  .regreso{
      text-decoration: none;
      font-family: 'Marcellus', serif;
      color: #ffffff;
  }
    
  .modal{
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.596);
      align-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      transition: all 1s;
  }
  
  #miModal:target{
      opacity:2;
      pointer-events:auto;
  }
  
  .termiyserv{
      text-decoration: none;
      color: #000000;
  }
  .salirt{
      text-decoration: none;
      font-family: 'Marcellus', serif;
      color: #000000;
  }
  
}

@media screen and (max-width: 360px){
  .logo{
    background-color: var(--negro2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.logo img{
  width: 40%;
  max-width: 200px;   
}
.logo i{
  color: var(--blanco);
  font-size: 2rem;
}
.menu{
  background-color: rgba(1, 10, 52, 0.838);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
.menu-hr{
  width: 90%;
  background-color: var(--blanco);
}
.item{
padding: 1rem;
}
nav a{
  color: var(--blanco);
  text-decoration: none;
  text-align: center;
}
nav a:hover{
  background-color: #0B3860;
  width: 100%;
}
.navbar-button{
  background-color:transparent;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.5rem;
  font-family: 'Marcellus', serif;
  color: var(--blanco);
}


}


